
body {
    max-width: 40em;
    text-rendering: optimizeLegibility;
    hyphens: auto;
}

.bounder ul {
    display: inline;
    padding: 0;
}

.bounder li {
    display: inline;
    font-size: small;
}

h1 {
    padding: 0;
}

.selected {
    background: rgb(248, 238, 199) !important;
}

.h-entry cite {
    float: right;
    padding-left: 1em;
    font-family: Verdana, Trebuchet, Arial, Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: x-small;
}

.h-entry cite a {
    text-decoration: none;
    color: #C8A8FF;  /* light purple */
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.h-entry {
    margin: 0.5em;
}

.meta {
    float: left;
    display: inline-block;
    width: 9em;
}

.p-author {
    padding-left: .5em;
    overflow: hidden;
}

.e-content {
    overflow: auto;
    margin: 0;
    padding-left: .5em;
}
